.Calc {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Calc > input {
  width: 242px;
  padding: 10px 5px;
  border-radius: 10px;
  margin: 10px 0px;
}

.Calc-Row {
  display: flex;
  flex-direction: row;
}

.Calc-Column {
  display: flex;
  flex-direction: column;
}

.Calc-Row > a {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  width: 30px;
  height: 30px;
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}